* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80px;
    height: 45px;
    position: relative;
    /* border: 1px solid red; */
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 340px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    animation: fade-up 2s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}